body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 2vw;
    text-align: center;
}

.TopContainer {
    background-color: rgb(122, 122, 122, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#resetButton{
    font-size: 2vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(97, 97, 97);
}

.GameContainer {
    background-color: rgb(24, 24, 24, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    min-width: 300px;
    min-height: 10px;
    margin: 0 auto;

}

.RowContainer {
    background-color: rgb(126, 126, 126);
    display: flex;
    width: 100%; 
    margin-bottom: 0px; 
}

.TileContainer {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 100%)); 
    max-width: none; 
    max-height: none; 
}

.TileContainer input {
    font-size: 5vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(39, 39, 39);
    text-align: center;
    text-transform: uppercase;
    max-width: none; 
    max-height: none; 
    margin: 4px;
    border: none; 
    outline: none; 
    box-shadow: none;
    border-radius: 10px;
}

.KeyboardContainer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 40vh; 
    transform: rotate(-90deg);
}


.KeyboardContainer button {
    max-width: 70px;
    max-height: 70px;
    min-width: 20px; 
    min-height: 20px; 
    width: 2.5vw;
    height: 2.5vw; 
    font-size: calc(0.5vw + 7px);
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: rotate(90deg); 
    margin-bottom: 1px;
}

.KeyboardContainer .backspace {
    font-size: 0.8em;
}

.KeyboardContainer button:hover {
    background-color: rgb(39, 39, 39);
}

.KeyboardRow {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 20px;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(130, 130, 130); 
    background-color: rgba(131, 131, 131, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
    border-radius: 10px;
}

#username-display {
    color: #333;
    background-color: rgb(255, 255, 255); 
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    padding: 10px;
    background-color: rgb(122, 122, 122, 0);
}

body {
    margin-left: 0px;  
}