body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.GameContainer {
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 30%;
    margin: 0 auto;
}

.RowContainer {
    background-color: rgb(126, 126, 126);
    display: flex;
    justify-content: space-around;
    width: 90%; 
    margin-bottom: 10px; 
}

.TileContainer{
    background-color: rgb(208, 208, 208);
    width: 50px; 
    height: 50px; 
    margin: 10px;
}

.TileContainer input {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    padding: 5px;
    font-size: 20px; /* Adjust as needed */
    text-align: center;
}