<!DOCTYPE html>
<html>
<head>
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<form style="display:none">
    <input type="text" id="prevent_autofill" autocomplete="username" />
    <input type="password" id="prevent_autofill" autocomplete="new-password" />
</form>

<body>
    <main>
        <div class="GameContainer">
            <h1>Wordle</h1>
        </div>
        <script src="{{ url_for('static', filename='js/GameContainer.js') }}"></script>

        <div class="KeyboardContainer">
        </div>
        <script src="{{ url_for('static', filename='js/KeyboardContainer.js') }}"></script>
    </main>
</body>
</html>